<div id="slider" >
    <ul>
        <li (click)="setDest('Budapest')">
            <div class="content">
                <h2>Budapest</h2>
            </div>
        </li>
        <li (click)="setDest('Kavala')">
            <div class="content">
                <h2>Kavala</h2>

            </div>
        </li>
        <li (click)="setDest('Vevey')">
            <div class="content">
                <h2>Vevey</h2>
                <p></p>
            </div>
        </li>
        <li (click)="setDest('Wien')">
            <div class="content">
                <h2>Wien</h2>
            </div>
        </li>
        <li (click)="setDest('Sofia')">
            <div class="content">
                <h2>Sofia</h2>
            </div>
        </li>
    </ul>
</div>